body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form{
    margin: 0;
    padding: 0;
    }     
h1,h2,h3,h4,a{
    margin: 0;
    padding: 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 0px; /* 화살표를 없애면서 선택된 항목 표시를 위한 오른쪽 여백 추가 */
  background: none;
}

a{
    text-decoration: none;
}



/*레이아웃*/
#header{
    height: 250px;
/*    background-color: #222;*/
}


#content{
    height: 33.333vh;
/*    background-color: #333;*/
}

#footer{
    height: 33.333vh;
/*    background-color: #444;*/
}

/* 컨테이너*/
.container{
    width: 990px;
    height: inherit;
/*    background-color: #dedede;*/
    margin: 0 auto;
}


/* 헤더 */
.header{
    position: relative;
}
.header_bgc{
    border-radius: 8px;
    position: relative;
    height: 130px;
    background-color: #ad1d1d;
    background-image: url("/static/images/hgc.jpg"); no-repeat;-repeat;
    background-position: 1px;
    margin-top: 30px;
}
.header_bgc:before{
    position: absolute;
    content: ' ';
    height: 80px;
    width: 100%;
    left: 0;
    bottom: 0;
}
.header_menu{
    display: inline-block;
    position: relative;
}
.header_tit{
}
.header_tit h1{
    margin-top: 5px;
    font-weight: normal;
    margin-left: -3px;
    font-size: 50px;
    color: #000000;
    font-family: 'Song Myung', serif;
    display: inline-block;
    position: relative;
}
.header_tit h2{
    display: inline-block;
    font-weight: 00;
    margin-left: 13px;
    font-size: 25px;
    position: absolute;
    top: 108px;
}
/*.header_tit h1:before{
    content: '';
    width: 3px;
    height: 33px;
    background: #000000;
    position: absolute;
    left: 265px;
    top: 14px;
}*/
.header p{
    margin-top: -2px;
    margin-left: 1px;
    font-size: 16px;
}
.header_search{
    position: absolute;
    top: 150px;
    right: 0;
}
.header_search form{
    color: #000;
}
.header_search input[type=text]{
    width: 250px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 1px;
    text-align: center;
}
.header_search input[type=submit]{
    vertical-align: -1px;
    width: 50px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px
}



/* 콘텐츠 */
.content{
    border-top: 1px solid #ccc;
}
.content .result{
    text-align: center;
    display:block;
    margin-top:20px;
}
.content .cont_selecter{
    margin-top: 13px;
}
.cont_selecter select{
    float: right;
    width: 50px;
    height: 30px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #acacac;
    text-align: center;
    font-size: 12px;
    box-shadow: 2px 2px 1px rgba(142, 142, 142, 0.15);
}
.cont_selecter .select1{

}

.cont_cont{
    margin-top: 13px;
/*    border: 1px solid black;*/
}
.cont_cont .cont_box{
    margin-right: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 8px;
    box-sizing: border-box;
    width: 315px;
    height: 120px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    margin-bottom: 8px;
}
.cont_box::-webkit-scrollbar {
      width: 0;
}
.cont_cont .cont_box p{
    margin: 5px 0 5px;
}
.cont_cont .cont_box h3{
    font-size: 18px;
    color: #2b7452;
}
.cont_cont .cont_box .desc{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 280px;
    color: #727272;
}