<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<select class="select2" onchange="redirectToPage()">
  <option value="">월</option>
  <option value="month=01">01</option>
  <option value="month=02">02</option>
  <option value="month=03">03</option>
  <option value="month=04">04</option>
  <option value="month=05">05</option>
  <option value="month=06">06</option>
  <option value="month=07">07</option>
  <option value="month=08">08</option>
  <option value="month=09">09</option>
  <option value="month=10">10</option>
  <option value="month=11">11</option>
  <option value="month=12">12</option>
</select>

<select class="select1" onchange="redirectToPage()">
  <option value="">년</option>
  <option value="year=2023">2023</option>
  <option value="year=2022">2022</option>
  <option value="year=2021">2021</option>
  <option value="year=2020">2020</option>
  <option value="year=2019">2019</option>
  <option value="year=2018">2018</option>
</select>

<script>
  window.onload = function() {
    var select1 = document.querySelector(".select1");
    var select2 = document.querySelector(".select2");

    // 저장된 URL 매개변수 값을 가져와서 선택된 값으로 설정
    var urlParams = new URLSearchParams(window.location.search);
    var selectedValue1 = urlParams.get("year");
    var selectedValue2 = urlParams.get("month");

    if (selectedValue1) {
      select1.value = selectedValue1;
    }
    if (selectedValue2) {
      select2.value = selectedValue2;
    }
  };

  function redirectToPage() {
    var select1 = document.querySelector(".select1");
    var select2 = document.querySelector(".select2");

    var selectedValue1 = select1.value;
    var selectedValue2 = select2.value;

    if (selectedValue1 && selectedValue2) {
      var currentURL = window.location.href;
      var baseURL = currentURL.split("?")[0];
      var url = baseURL + "?year=" + selectedValue1 + "&month=" + selectedValue2;
      window.location.href = url;
    }
  }
</script>


</body>
</html>